
body{
    background-image: url(img/recommendation_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}
h1{
    font-style:italic;
    font-weight: bolder;
    background-color: orange;
    margin: 0;
    height: 60px;
    text-align: center;
    border-bottom: 4px solid black;
}
div.transbox{
    background-color: white;
    margin: auto;
    margin-top: 250px;
    width: 300px;
    height: 250px;
    padding: 10px;
    border-radius: 40px;
    border: 3px solid black;
    opacity: 0.65;
    box-shadow: 0px 5px 50px cyan;
    transition: all 150ms;
    
}
.transbox:hover{
    opacity: 1;
}
form {
    margin-top: 50px;
    color: black;
    font-size: large;
    text-align: left;
    font-style: italic;
    font-weight: 800;
}
input,select{
    padding: 4px,6px;
    border-radius: 4px;
    border: none;
    border-bottom: 2px solid #212121;
}